@model IEnumerable<Crud.Domain.Consultas.Consulta>

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Detalhes da Empresa</h4>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Médico
                        </th>
                        <th>
                            Data Consulta
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Medico.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataConsulta)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->